
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>agendAÍ - Cadastro</title>
    <style>
      /* Reset de estilos básicos */
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      body {
          background-color: #f5f5f5;
          color: #6e6e6e;
          font-family: Arial, sans-serif;
      }

      header {
          background-color: #000233;
          color: #ffffff;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      nav a {
          color: #ffffff;
          text-decoration: none;
          margin: 0 10px;
      }

      main {
          text-align: center;
          margin-top: 50px;
          margin-bottom: 200px;
      }

      h2 {
          color: #00b899;
      }

      button {
          background-color: #00b899;
          color: #ffffff;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          margin: 0 10px;
      }

      button:hover {
          background-color: #007568;
      }

      footer {
          text-align: center;
          padding: 10px;
          background-color: #000233;
          color: #ffffff;
      }

      .quadroCadastro {
          background-color: #000233;
          color: #ffffff;
          padding: 50px;
          border-radius: 10px;
          width: 280px;
          margin: 0 auto;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          text-align: left;
      }

      .quadroCadastro input[type="email"],
      .quadroCadastro input[type="password"],
      .quadroCadastro input[type="text"] {
          padding: 7px;
          margin-top: 10px;
          border: none;
          border-radius: 4px;
          width: 100%;
      }

      .quadroCadastro input[type="submit"] {
          margin-top: 20px;
          background-color: #00b899;
          color: #ffffff;
          border: none;
          padding: 10px 20px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 100%;
      }

      .quadroCadastro input[type="submit"]:hover {
          background-color: #007568;
      }

      .FacaLogin {
          color: #3f75ab;
      }
  </style>
    
    <meta charset="UTF-8">

</head>
<body>
    <header>
        <h1>AGENDAÍ</h1>
        <nav>   
            <a href="telaInicial.html"><button >Inicio</button></a>
        </nav>
    </header>

    <main>
        <section class="quadroCadastro">
            <h2>Cadastro</h2>
        
            <form id="registration-form" action="/show" method="POST">
              <label for="name">Nome completo:</label>
              <input type="text" id="name" name="name" required>
        
              <label for="email">E-mail:</label>
              <input type="email" id="email" name="email" required>
        
              <label for="dataNascimento">Data de Nascimento:</label>
              <input type="date" id="dataNascimento" name="dataNascimento" required>
              <br>
        
              <!-- Restante do formulário... -->
        
              <label for="password">Senha:</label>
              <input type="password" id="password" name="password" required>
              <span id="password-error" class="error-message"></span>
        
    
        
              <!-- ... outros campos ... -->
        
              <input type="submit" value="Cadastrar">
            </form>

            <p>Já possui uma conta? <a class="FacaLogin" href="index.html">Faça login</a></p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 AGENDAÍ - Sistema de Agendamento</p>
    </footer>
    <script src="telaCadastro.js"></script>
</body>
</html>


